.page-template {
	background-color: #fff;
	width: 800px;
	margin: 5rem auto;
	padding: 2rem;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	min-width: 320px;

	@media (max-width: 1000px) {
		width: 500px;
	}

	@media (max-width: 500px) {
		width: 100%;
	}

	h1 {
		font-size: 40px;
		font-weight: 300;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	.content {
		margin-top: 2rem;
	}
}
